<a href="https://colab.research.google.com/github/KOLLURUSRIKAR/pythonPrograms/blob/MODULE-1/module_1_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Accept input from user and store it in variable and print the value
a=int(input("enter a number: "))
print(a)
a=89
print(a)

enter a number: 567
567
89

In [ ]:
#Use of print statements and use of (.format )for printing different data types
a="my name is {name}, and iam pursuing my {stream} in Gitam institute of technology".format(name="srikar",stream="Btech")
print(a)

my name is srikar, and iam pursuing my Btech in Gitam institute of technology

In [ ]:
# Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
# the output (Same operations on floating point input as well)
a=int(input("enter first number: "))
b=int(input("enter second number: "))
add=a+b
sub=a-b
mul=a*b
div=a//b
rem=a%b
print("addition= ",add)
print("subtract= ",sub)
print("multiply= ",mul)
print("division= ",div)
print("remainder= ",rem)

enter first number: 2
enter second number: 3
addition=  5
subtract=  -1
multiply=  6
division=  0
remainder=  2

In [ ]:
#Conversion of one unit to another (such as hours to minutes, miles to km and etc)
a=float(input("Enter hours: "))
print("hours to minutes= ",a*60)
b=float(input("Enter miles= "))
print("miles to km= ",b/0.621371)

Enter hours: 3
hours to minutes=  180.0
Enter miles= 2.17
miles to km=  3.4922775604268623

In [ ]:
#Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,
#pow, sqrt etc.
import math
a=float(input("enter a number: "))
b=float(input("enter second number: "))
print(math.ceil(a))
print(math.floor(a))
print(math.fabs(a))
print(math.fmod(a,b))
print(math.trunc(a))
print(math.pow(4,2))
print(math.sqrt(49))

enter a number: 4.567
enter second number: -3.256
5
4
4.567
1.3110000000000004
4
16.0
7.0

In [ ]:
# Building a mathematical calculator that can perform operations according to user input.
# Use decision making statement.
a=int(input("enter first number: "))
b=int(input("enter second number: "))
operation=str(input("enter operation that need to be performed: "))
if(operation=="add"):
  print(a+b)
elif(operation=="sub"):
  print(a-b)
elif(operation=="mul"):
  print(a*b)
elif(operation=="div"):
  print(a//b)
elif(operation=="rem"):
  print(a%b)
else:
  print("enter a valid operation")

enter first number: 2
enter second number: 3
enter operation that need to be performed: add
5

In [ ]:
#Accepting 5 different subject marks from user and displaying the grade of the student
a=float(input("sub 1 marks: "))
b=float(input("sub 2 marks: "))
c=float(input("sub 3 marks: "))
d=float(input("sub 4 marks: "))
e=float(input("sub 5 marks: "))
avg=(a+b+c+d+e)/5
if(avg>=90):
  print("O grade")
elif(avg>=80):
  print("A+ grade")
elif(avg>=70):
  print("A GRADE")
elif(avg>=60):
  print("B GRADE")
elif(avg>=50):
  print("C GRADE")
else:
  print("fail")

sub 1 marks: 90
sub 2 marks: 90
sub 3 marks: 90
sub 4 marks: 90
sub 5 marks: 90
O grade

In [ ]:
# Printing all even numbers, odd numbers, count of even numbers, count of odd numbers
# within a given range.
n=int(input("enter a range: "))
print("even numbers are : ")
c=0
for i in range(1,n+1):
  if(i%2==0):
    c+=1
    print(i)
print("no of even numbers are: ",c)
print("odd numbers are: ")
d=0
for j in range(1,n+1):
  if(j%2!=0):
    d+=1
    print(j)
print("no of odd numbers are: ",d)

enter a range: 30
even numbers are :
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
no of even numbers are:  15
odd numbers are:
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
no of odd numbers are:  15

In [ ]:
# Compute the factorial of a given number. b) Compute GCD of two given
# numbers. c) Generate Fibonacci series up to N numbers.
# factoriaL
a=int(input("enter a number: "))
fac=1
for i in range(1,a+1):
  fac=fac*i
print(fac)

enter a number: 5
120

In [ ]:
# gcd of two numbers
a=int(input("enter first number: "))
b=int(input("enter second number: "))
d=a if (a<b) else b
while True:
  if(a%d==0 and b%d==0):
    break
  d-=1
print(d)

enter first number: 2
enter second number: 3
1

In [ ]:
# fibanocci series
n=int(input("enter range: "))
a=0
b=1
print(a,end=" ")
print(b,end=" ")
for i in range(1,n-1):
  c=a+b
  print(c,end=" ")
  a=b
  b=c

enter range: 10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# palindrome
a=int(input("enter a number: "))
b=a
rev=0
while(a!=0):
  r=a%10
  rev=rev*10+r
  a=a//10
print(rev)
if(rev==b):
  print(" palindrome")
else:
  print(" not a palindome")

enter a number: 1221
1221
 palindrome

In [ ]:
# strong number
n=int(input("enter a number: "))
t=n
sum=0
while(n !=0):
  r=n%10
  fac=1
  while(r !=1):
    fac=fac*r
    r=r-1
  sum=sum+fac
  n=n//10
if(sum==t):
  print("strong number")
else:
  print("Not a strong number")

enter a number: 145
it is a strong number

In [ ]:
# perfect number
n=int(input("enter a number: "))
s=0
for i in range(1,(n//2+1)):
  if n%i == 0:
    s+=i

if(s == n):
  print("perfect number")
else:
  print("not a perfect number")

enter a number: 28
perfect number

In [ ]:
#compound interest
p=int(input("Amount :"))
r=int(input("rate :"))
t=int(input("time :"))
CI=p*pow(1+r/100,t)-p
print("compound intrest :",CI)

Amount :5000
rate :3
time :2
compound intrest : 304.5