<a href="https://colab.research.google.com/github/KOLLURUSRIKAR/pythonPrograms/blob/MODULE-1/STRINGS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python strings

In [ ]:
a=str(input("enter a string: "))
print(a)
print(len(a))

enter a string: srikar
srikar
6

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)
#finding length of string
print(len(a))

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
123

# checking a string

In [ ]:
a="""hello class this is a special language known as pyhton,
    thisis a language which got a higher recognition sice 2018"""
print("higher"in a)
print("there"in a)
print("hi"in a)
print("special"in a,"language" in a)
print("not"in a,"language"in a)

True
False
True
True True
False True

# if not

In [ ]:
a="programming languages are very important"
print("very"not in a)

False

# slicing string

In [ ]:
a="i went to a zoo which is around 10 km."
print(a[2:6],a[7:11])
print(a[1:-1])
print(a)

went to a
 went to a zoo which is around 10 km
i went to a zoo which is around 10 km.

# reverse of a string

In [ ]:
a="i went to a zoo which is around 10 km."
print(a[-38:-1])

i went to a zoo which is around 10 km

# modifying string

In [ ]:
# upper case
a="hello world"
print(a.upper())
# lower case
a="HELLO WORLD"
print(a.lower())
#removing white spaces
a=" hello world"
print(a.strip())
# replace a letter
a="hello world"
print(a.replace("h","a"))
# spliting  a string
a="HELLO WORLD"
print(a.split(" "))

HELLO WORLD
hello world
hello world
aello world
['HELLO', 'WORLD']

# concatenating strings

In [ ]:
a="i went to a science fair,"
b="which is so beautiful with all the experiments shown by them."
c=a+b
print(c)

i went to a science fair,which is so beautiful with all the experiments shown by them

In [ ]:
a="i went to a science fair,"
b="which is so beautiful with all the experiments shown by them."
c=a+" "+b
print(c)

i went to a science fair, which is so beautiful with all the experiments shown by them.

In [ ]:
a="123,"
b="get set go "
c=a+b
print(c)

123,get set go

# formatting of strings

In [ ]:
tickets=8
time=10
price=600
waterworld="I went to water world at {} AM to take {} tickets and the price is {} for each person."
print(waterworld.format(time,tickets,price))

I went to water world at 10 AM to take 8 tickets and the price is 600 for each person.

# string methods

In [ ]:
#capitalize
a="hello world"
x=a.capitalize()
print(x)
#casefold
a='HELLO WORLD'
x=a.casefold()
print(x)
# center
a="banana"
x=a.center(20)
print(x)
# count
a="i like apple, apple are my favourite fruits"
x=a.count("apple")
print(x)
# endswith
a="hello world."
x=a.endswith(".")
print(x)
# expand tabs
a = "H\te\tl\tl\to"
x =  a.expandtabs(2)
print(x)
# find
a="hello world,good morning everyone have a nice day"
x=a.find("world")
print(x)
# format
a="for only {price:.2f} dollars!"
x=a.format(price=50)
print(x)
# index
a="hello world,good morning everyone have a nice day"

Hello world
hello world
       banana
2
True
H e l l o
6
for only 50.00 dollars!

In [ ]:
lst = [ ] 
n = int(input("Enter number of elements : ")) 
  
for i in range(0, n): 
    ele = int(input())
    lst.append(ele) 
for i in range(0, n):
  if(i%2==0):
    print(lst[i])

Enter number of elements : 5
1
2
3
4
5
1
3
5

In [ ]:
n=int(input(""))
i=0
while i<n
a=int(input(""))

In [ ]:
s="me and my {} friends went to {} movie at {} today"
friends=8
movie="RRR"
time="6:00"
print(s.format(friends,movie,time))

me and my 8 friends went to RRR movie at 6:00 today