<a href="https://colab.research.google.com/github/KOLLURUSRIKAR/pythonPrograms/blob/MODULE-2/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuples

In [ ]:
tuple=("apple","banana","pineapple")
print(tuple)

('apple', 'banana', 'pineapple')

In [ ]:
# duplicates in tuples
tuple=("apple","banana","pineapple","apple")  # duplicates are accepted in tuples
print(tuple)

('apple', 'banana', 'pineapple', 'apple')

In [ ]:
# length of a tuple
tuple=("apple","banana","pineapple","apple")
print(len(tuple))

4

In [ ]:
# data types of a tuple
tuple=("apple","banana","pineapple","apple",1,)
print(tuple)

('apple', 'banana', 'pineapple', 'apple', 1)

In [ ]:
# changing tuple values
x = ("apple", "banana", "cherry")
y=list(x)
y[1]="kiwi"
x=list(y)
z=tuple(x)
print(z)

('apple', 'kiwi', 'cherry')

In [ ]:
# adding items in a tuple by converting
x = ("apple", "banana", "cherry")
y=list(x)
y.append("pineapple")
x=list(y)
z=tuple(x)
a=list(z)
a.append("watermelon")
b=tuple(a)
print(b)

('apple', 'banana', 'cherry', 'pineapple', 'watermelon')

In [ ]:
# adding tuple to a tuple
x = ("apple", "banana", "cherry")
y=("orange",)
x+=y
print(x)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# removing items in a tuple
x=("apple","banana","orange","kiwi")
y=list(x)
y.remove("orange")
print(y)

['apple', 'banana', 'kiwi']

In [ ]:
fruits = ("apple", "banana", "guava")

(red,yellow,green) = fruits

print(green)
print(yellow)
print(red)

guava
banana
apple

In [ ]:
# for loop in tuples
tuple=("apple","banana","pineapple")
for x in tuple:
  print(x)

apple
banana
pineapple

In [ ]:
tuple=("apple","banana","pineapple")
for i in range(len(tuple)):
  print(tuple[i])

apple
banana
pineapple